<div class="ro-section">
  <div class="container">
    <ul class="ro-shop-tab-controler">
      <li><a href="#ro-shop-spa" data-toggle="tab">SPA</a></li>
      <li class="active"><a href="#ro-shop-beauty" data-toggle="tab">BEAUTY</a></li>
      <li><a href="#ro-shop-yoga" data-toggle="tab">YOGA</a></li>
    </ul>
    <div id="ro-shop-tab" class="tab-content">
      <div id="ro-shop-spa" class="tab-pane fade">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab1.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab2.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab3.jpg') %>
                <div class="ro-selloff">- 20%</div>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">
                  <del>$64</del>$80
                </h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab4.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-12 hidden-xs hidden-sm">
            <div class="ro-shoptab-separator"></div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab5.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab6.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab7.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab8.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="ro-shop-beauty" class="tab-pane fade active in">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab1.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab2.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab3.jpg') %>
                <div class="ro-selloff">- 20%</div>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">
                  <del>$64</del>$80
                </h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab4.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-12 hidden-xs hidden-sm">
            <div class="ro-shoptab-separator"></div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab5.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab6.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab7.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab8.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="ro-shop-yoga" class="tab-pane fade">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab1.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab2.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab3.jpg') %>
                <div class="ro-selloff">- 20%</div>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">
                  <del>$64</del>$80
                </h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab4.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-12 hidden-xs hidden-sm">
            <div class="ro-shoptab-separator"></div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab5.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab6.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab7.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="ro-shop-tab-item">
              <div class="ro-image">
                <%= image_tag('shoptab8.jpg') %>
                <div class="ro-overlay">
                  <div class="ro-overlay-inner ro-cell-vertical-wrapper">
                    <div class="ro-cell-middle"><a href="cart.html"><i class="icon-ecommerce-cart"></i></a><a href="#"><i class="icon-basic-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="ro-content"><a href="product.html">
                  <h5>BATH SALT BOX</h5></a>
                <h3 class="ro-color-main">$30</h3>
                <div data-rating="4" class="ro-rating"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="text-center ro-section-mb-small">
      <ul class="pagination clearfix">
        <li><a href="#"><i class="icon-arrows-slim-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="icon-arrows-slim-right"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
